@import "./baet.less";
html,
body {
    height: 100%;
    background-color: #ccc;
}
#main {
    height: 100%;
    padding: 45px 0;
    display: flex;
    .main-left {
        flex-basis: 80px;
        ul {
            width: 100%;
            background-color: white;
            li {
                width: 100%;
                height: 45px;
                text-align: center;
                line-height: 45px;
                font-size: 14px;
                border-bottom: 1px solid #ccc;
                border-right: 1px solid #ccc;
                &.active {
                    background-color: #ccc;
                }
                a {
                    color: black;
                }
            }
        }
    }
    .main-right {
        flex: 1;
        position: relative;
        height: 100%;
        .mui-scroll {
            height: 101%;
            padding: 0 10px;
            background-color: #ccc;
            #brand-area {
                background-color: white;
                .mui-row {
                    >div {
                        width: 33.333%;
                        text-align: center;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            img {
                                width: 66px;
                                height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}