@import "./baet.less";

// 中间区域
#main {
	padding: 45px 0;
	#nav {
		padding: 10px;
		a {
			display: block;
			img {
				width: 100%;
			}
		}
	}
	#banner {
		border-top: 1px solid #ccc;
		a {
			display: block;
			img {
				width: 100%;
			}
		}
	}
	#brand-area {
		a {
			background-color: white;
			display: block;
			img {
				width: 100%;
			}
		}
	}
	#sport-area,
	#women-area,
	#man-area {
		.title {
			a {
				img {
					width: 100%;
				}
			}
		}
		.mui-row {
			>div {
				padding: 5px;
				background-color: white;
				a {
					padding: 10px 0;
					box-shadow: 0px 0px 5px #666;
					display: block;
					text-align: center;
					img {
						width: 100%;
					}
					p {
						&:nth-child(3) {
							line-height: 40px;
							span {
								&:nth-child(1) {
									color: red;
									margin-right: 10px;
								}
							}
						}
					}
					.mui-btn {
						background-color: @maincolor;
						border: @maincolor 1px solid;
					}
				}
			}
		}
	}
}

